### Feature scaling and Learning Rate (Multi-variable)

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LinearRegression as lm

In [4]:
data = pd.df = pd.read_csv('/home/quirkless/Work/coding ig/machine_learning/Datasets/House price/archive/data.csv')
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [31]:
data.drop(['country', 'date' ,'street', 'statezip', 'city'], axis=1)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

ValueError: Found input variables with inconsistent numbers of samples: [4600, 5]

In [33]:
x_train.shape

(3680, 17)

In [34]:
x_test.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
3401,2014-06-26 00:00:00,518500.0,3.0,3.50,1590,1102,3.0,0,0,3,1590,0,2010,0,769 N 74th St,WA 98103,USA
4199,2014-07-09 00:00:00,275000.0,3.0,1.00,1200,7800,1.0,0,0,4,1200,0,1954,1979,9246 30th Ave SW,WA 98126,USA
478,2014-05-12 00:00:00,1200000.0,3.0,1.75,1560,8078,1.5,1,4,4,1560,0,1928,0,3603 W Mercer Way,WA 98040,USA
924,2014-05-19 00:00:00,477000.0,3.0,2.50,1350,2053,3.0,0,0,3,1350,0,2005,0,2313 NW 65th St,WA 98117,USA
2921,2014-06-20 00:00:00,660000.0,4.0,3.25,3030,9273,2.0,0,0,5,3030,0,1988,0,24554 SE 39th Pl,WA 98029,USA

In [35]:
x_test.shape

(920, 17)

In [36]:
model=lm().fit(x_train,y_train)

ValueError: could not convert string to float: '2014-05-15 00:00:00'